extends pug/base

append vars
	//- ...

block content
	header.c-header
		.container
			.row.c-header--wrap
				.col-4
					a(href="#").c-logo epidemic
				.col
					nav.c-nav
						each nav in ['Home', 'About', 'Prevention', 'Appoiment', 'Blog', 'Contact']
							a(href="#")= nav
						a(href="#").c-btn.c-btn--header
							i.c-ico
							| Symptom Checker
			.row
				.col-8
					span.c-subheading.c-subheading--header Stop COVID-19
					h2.c-heading.c-heading--header How can we fight together against Coronavirus?
					p.c-text.c-text--header
						| It’s never been clearer that we’re all global citizens,
						| and we all have a part to play. The novel strain of coronavirus, has officially reached pandemic proportions.
					a(href="#").c-btn.c-btn--purple How to Prevent
					.c-mini--wrap.l-grid.l-grid--wrap
						.c-mini-header
							i.c-ico--header
							.c-mini-header--head Protection
							span How to protect yourself
						.c-mini-header
							i.c-ico--header
							.c-mini-header--head Symptoms
							span Check basic symptoms
						.c-mini-header
							i.c-ico--header
							.c-mini-header--head Appointment
							span Get online consultation
						.c-mini-header
							i.c-ico--header
							.c-mini-header--head About COVID-19
							span Read more about coronavirus
				.col-4
					img(src="/images/figure/img-header.png")
	section.c-purple-block
		.container
			.row
				.col-8
					.c-purple-block--text Think you might be affected?
						span Try our simple coronavirus checker to find out what you need to do.
				.col-4.d-flex.justify-content-end.align-items-center
					a(href="#").c-btn.c-btn--white Check now
	section.c-about
		.container
			.row
				.col-6
					img(src="/images/figure/img-about.png")
				.col
					.c-about--wrap
						span.c-subheading.c-subheading--medium COVID-19 the disease
						h2.c-heading.c-heading--medium About the Coronavirus
						p.c-text
							| Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2. The disease was first identified in 2019 in Wuhan, the capital of Hubei, China, and has since spread globally, resulting in the 2019–2020 coronavirus pandemic.
						h3.c-heading.c-heading--small What is the COVID-19?
						p.c-text
							| COVID-19 is a new strain of coronavirus that has not been previously identified in humans. It was first identified in Wuhan, Hubei Province, China, where it has caused a large and ongoing outbreak. It has since spread more widely in China.
						a(href="#").c-link--arrow Read more about →
	section.c-info
		.container
			.text-center
				.c-subheading Worldwide Tracker
				h2.c-heading Confirmed Coronavirus Cases
				p.c-text Last updated: April 08, 2020, 01:43 GMT
			.row.mt-5
				.col-3
					.c-info--block
						| 2,118,332
						span Total Cases
				.col-3
					.c-info--block
						| 141,211
						span Total Deaths
				.col-3
					.c-info--block
						| 519,604
						span Recovered
				.col-3
					.c-info--block
						| 216
						span Affected Region
			.text-center.mt-5
				a(href="#").c-btn See Live Track
	section.c-symptoms
		.container
			div.clearfix
			.c-subheading Symptoms of COVID-19
			h2.c-heading What are the basic <br> symptoms?
			.row
				.col-6
					.c-symptoms--block
						| High fever
						p Fever is a key symptom, experts say. Don't fixate on a number, but know it's not a fever until temperature reaches at least 39°C.
				.col-6
					.c-symptoms--block
						| High fever
						p Fever is a key symptom, experts say. Don't fixate on a number, but know it's not a fever until temperature reaches at least 39°C.
				.col-6
					.c-symptoms--block
						| High fever
						p Fever is a key symptom, experts say. Don't fixate on a number, but know it's not a fever until temperature reaches at least 39°C.
				.col-6
					.c-symptoms--block
						| High fever
						p Fever is a key symptom, experts say. Don't fixate on a number, but know it's not a fever until temperature reaches at least 39°C.
	section.c-protect
		.container
			.text-center
				.c-subheading What you need to do
				h2.c-heading How to protect yourself?
			.row.mt-5
				.col-6
					.row
						.col-6
							.c-protect--head You should do
								span Be sure to follow it
							.c-protect--block Stay at home
							.c-protect--block Wear mask
							.c-protect--block Always use tissues
							.c-protect--block Disinfect your home
							.c-protect--block Wash your hands
							.c-protect--block Frequent self-isolation
							.c-protect--block Frequent waterintake
						.col-6
							.c-protect--head.c-protect--head-red You should avoid
								span Be sure to follow it
							.c-protect--block Stay at home
							.c-protect--block Wear mask
							.c-protect--block Always use tissues
							.c-protect--block Disinfect your home
							.c-protect--block Wash your hands
							.c-protect--block Frequent self-isolation
							.c-protect--block Frequent waterintake
						.col-12.mt-5
							.c-heading What does self-isolation involve?
							p.c-text If you need to self-isolate, you should take action immediately. You must stay inside and avoid all contact with other people.
							a(href="#").c-link--arrow How else can you protect yourself? →
				.col-6
					img(src="/images/figure/img-protect.jpg")
	section.c-process
		.container
			.text-center
				.c-subheading Hand washing process
				h2.c-heading How to wash your Hands
			.row.align-items-start.mt-5
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Apply soap</b> and ruv your hands together
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Use one hand</b> to rub the back of the other hand and vice versa
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Rub your hands</b> together and clean between your fingers
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Rub the back</b> of your fingers against your palms
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Rub your thumb</b> using your other hand and vice versa
				.c-process--block.col-2
					.c-process--img
						img(src="/images/figure/circle.png")
					| <b>Rub your tips</b> of your fingers on the palm of your other hand and vice versa
	section.c-how
		.container
			.row
				.col-3
					.c-how--block
						.c-how--block-img
						.c-how--block-content
							| Stay at home
							p Stay at home if you perceive the symptoms and consult your doctor on phone.
					.c-how--block
						.c-how--block-img(style="background-color: #dbf5f3;")
						.c-how--block-content
							| Keep social distance
							p Keep at least 2 m distance between yourself & anyone if you go among people.
				.col-3
					.c-how--block.c-how--block-offset
						.c-how--block-img(style="background-color: #565183;")
						.c-how--block-content
							| Wash your hands often
							p Clean your hands with alcoholbased rub or wash them with soap for at least 20 seconds.
					.c-how--block
						.c-how--block-img(style="background-color: #ead5cd;")
						.c-how--block-content
							| Wear Facemask
							p When you are around other people and before you enter a healthcare provider’s.
				.col-6
					.c-about--wrap
						span.c-subheading What should you do
						h2.c-heading How to prevent Coronavirus?
						p.c-text
							| Some details about how the disease is spread are unknown and is being determined.The WHO and CDC state that it is primarily spread during close contact and by respiratory droplets produced when people cough or sneeze; with close contact being within 1 to 2 meters (3 to 6 feet). A study in Singapore found that an uncovered coughing can lead to droplets travelling up to 4.5 metres (15 feet).<br><br>
							| Respiratory droplets may also be produced during breathing out, including when talking, though the virus is not generally airborne. These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs. Some medical procedures such as intubation and cardiopulmonary...
						a(href="#").c-btn Read more about Prevention
	section.c-faq
		.container
			.c-subheading Have questions? Find answers!
			h2.c-heading.mb-5 Frequently Asked Questions
			.row
				.col-4
					#accordion.accordion
						.card
							#heading0.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse0' aria-expanded='true' aria-controls='collapse0')
										| Pandemic
							#collapse0.collapse(aria-labelledby='heading0' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading1.card-header
								h5.mb-0
									button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapse1' aria-expanded='true' aria-controls='collapse1')
										| About COVID-19
							#collapse1.collapse.show(aria-labelledby='heading1' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading2.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2')
										| Protecting against COVID-19
							#collapse2.collapse(aria-labelledby='heading2' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading3.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3')
										| Work and travel arrangements
							#collapse3.collapse(aria-labelledby='heading3' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading4.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse4' aria-expanded='false' aria-controls='collapse4')
										| About university and school
							#collapse4.collapse(aria-labelledby='heading4' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading5.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse5' aria-expanded='false' aria-controls='collapse5')
										| Home isolation
							#collapse5.collapse(aria-labelledby='heading5' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?
						.card
							#heading6.card-header
								h5.mb-0
									button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapse6' aria-expanded='false' aria-controls='collapse6')
										| Social distancing
							#collapse6.collapse(aria-labelledby='heading6' data-parent='#accordion')
								.card-body
									span.c-accordion-link(data-target="#multiCollapse1") What are coronaviruses?
									span.c-accordion-link(data-target="#multiCollapse2") What is the COVID-19 virus?
									span.c-accordion-link(data-target="#multiCollapse3") What is the difference between COVID-19 and the flu?
									span.c-accordion-link(data-target="#multiCollapse4") How is the virus spread?
									span.c-accordion-link(data-target="#multiCollapse5") What are the symptoms?

				.col-8
					#multiCollapse1.collapse.multi-collapse
						.card.card-body
							h3.c-heading.c-heading--medium What is the difference between COVID-19 and the flu?
							p.c-text
								| The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
								| Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
								| The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
								| While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
					#multiCollapse2.collapse.show.multi-collapse
						.card.card-body
							h3.c-heading.c-heading--medium What is the difference between COVID-19 and the flu?
							p.c-text
								| The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
								| Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
								| The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
								| While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
					#multiCollapse3.collapse.multi-collapse
						.card.card-body
							h3.c-heading.c-heading--medium What is the difference between COVID-19 and the flu?
							p.c-text
								| The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
								| Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
								| The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
								| While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
					#multiCollapse4.collapse.multi-collapse
						.card.card-body
							h3.c-heading.c-heading--medium What is the difference between COVID-19 and the flu?
							p.c-text
								| The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
								| Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
								| The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
								| While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
					#multiCollapse5.collapse.multi-collapse
						.card.card-body
							h3.c-heading.c-heading--medium What is the difference between COVID-19 and the flu?
							p.c-text
								| The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes can be fatal.
								| Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
								| The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means that influenza can spread faster than COVID-19.
								| While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
	footer.c-footer
		.container
			.text-center
				span.c-logo.c-logo--footer epidemic
				.c-footer--text
					| © Copyright 2020 Epidemic Organisation Ltd.  |
					a(href="#") Term of Use
					a(href="#") Privacy Policy
					a(href="#") Impressum
				.c-footer--text Designed with  by creakits