// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

// BOOTSTRAP

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);

// FONTS

$font-family-sans-serif: "Quicksand", sans-serif;

// LINKS

$link-hover-color: none;
$link-hover-decoration: none;